@keyframes rubberBand {
  0% {transform: scale(1);}
  30% {transform: scaleX(1.5) scaleY(1);}
  40% {transform: scaleX(1) scaleY(1.5);}
  60% {transform: scaleX(1.30) scaleY(1.15);}
  100% {transform: scale(1);}
}



